// Variables
$black : #000;
$grey1 : #111;
$grey2 : #222;
$grey6 : #666;
$grey9d : #9d9d9d;
$greyD : #ddd;
$greyF2 : #f2f2f2;
$white : #fff;
$green : #0c0;
$red : #c00;
$yellow : #d4d409;

$primary : #00544d;			//Background color of nav-bar, sidebar, headings
$primaryHover : #008479;	//Background color of hovered primary
$secondry : #fff;
$pageLinkBgC : #eee;		//Breadcrumb and page link bar background

$dashboardBgC : #fff;		//Dashboard content background

// Dark link colors
$dLinksC : #fff;			//Links on dark background
$dLinksActiveC : #ddd;		//Hovered Links on dark background

// Light Link Colors
$lLinksC : #fff;			//Links on light background
$lLinksActiveC : #ddd;		//Hovered Links on light background